* {
  font-family: Lora, sans-serif;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23525D68'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.back-gray {
  background-color: #182430 !important;
  opacity: 1 !important;
}

.hidden {
  display: none !important;
}

.w-100 {
  width: 100vw !important;
}

.h-100 {
  height: 100vh;
}

.pos-abs {
  position: absolute !important;
}

.pad-0 {
  padding: 0 !important;
}

body {
  height: 100vh;
  overflow: hidden;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.mob-nav-pos {
  position: absolute !important;
  top: 85%;
}

.desk-nav-pos {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: default;
}

.fs-title {
  font-size: 8px;
  text-transform: uppercase;
  border-right: 1px;
  color: #525d68;
  font-weight: bolder;
}

.fs-caption {
  font-size: 14px;
  color: white;
}

.sample-image {
  height: 110px;
  width: 110px;
  border-radius: 8px;
}

.hours {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: bolder;
  color: #525d68;
}

.hours-number {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: bolder;
  color: white;
}

.close {
  color: red;
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  font-size: 11px;
}

.open {
  color: green;
  font-family:
    Roboto,
    sans-serif;
  font-weight: bolder;
  font-size: 9px;
}

@media screen and (min-width: 500px) {
  .map-container {
    width: 100%;
    height: 100vh;
  }

  .mob-nav-pos {
    display: none !important;
  }

  .desk-card {
    width: 5rem !important;
    transition: all 0.5s ease-in-out;
  }

  .desk-card-active {
    width: 30rem !important;
    transition: all 0.5s ease-in-out;
  }

  .desk-card-unactive {
    width: 5rem !important;
    transition: all 0.5s ease-in-out;
  }

  .desk-nav-pos {
    display: block;
    position: absolute !important;
    top: 0;
    left: 0;
  }

  .desk-search-icon {
    background-color: #11314f !important;
    font-size: 2.75rem !important;
    padding: 0 !important;
    transition: all 0.5s ease-in-out;
  }

  .desk-search-icon-color {
    color: white;
    transition: all 0.5s ease-in-out;
  }

  .dsi-active {
    background-color: white !important;
    font-size: 16px !important;
    padding: 6px 12px !important;
    transition: all 0.5s ease-in-out;
  }

  .dsi-unactive {
    background-color: #11314f !important;
    font-size: 2.75rem !important;
    padding: 0 !important;
    transition: all 0.5s ease-in-out;
  }

  .dsic-active {
    color: black;
    padding: 6px, 12px !important;
    transition: all 0.5s ease-in-out;
  }

  .dsic-unactive {
    color: white;
    transition: all 0.5s ease-in-out;
  }

  .opac {
    opacity: 0 !important;
    height: 66px !important;
    transition: all 0.5s ease-in-out;
  }

  .opac-active {
    opacity: 1 !important;
    height: 36px !important;
    transition: all 0.5s ease-in-out;
  }

  .opac.opac-unactive {
    opacity: 0 !important;
    height: 66px !important;
    transition: all 0.5s ease-in-out;
  }
}
